//
   Created by brian on 5/20/2015.
extends layout

block content
  link(rel='stylesheet', href='/stylesheets/simple-sidebar.css')
  include sidebar
  #page-content-wrapper
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand#menu-toggle(href='#menu-toggle')
            img#menu-toggle(src='images/glyphicons-menu-hamburger.png')
        p.navbar-text.navbar-right.centered(style='margin-right:10px;') Signed in as #{user.name}
    .container-fluid
      .row
        form.navbar-form.navbar-left
          .centered
            .form-group
              input.form-control#customer-search(name='customer-name-search', placeholder='Search Customer', type='search')
            button.btn.btn-default#customer-search-btn(type='button') Search
        form.navbar-form.navbar-right
          .centered
            .form-group
              button.btn.btn-success#add-customer-btn(data-toggle='modal', data-target='#customer-modal-form', style='margin-right:15px;') Add New Customer
      hr
      .row
        .col-md-5
          .panel.panel-default
            .panel-heading Customer Information
            .panel-body
              #customermessage
              table.table.table-condensed#customer-info
              hr
        .col-md-7
          .panel.panel-default
            .panel-heading Invoice
            table.table.table-striped
              thead
                th.centered SKU#
                th.centered Item
                th.centered Quantity
                th.centered Price
              tbody
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td 
                  td
                
                
    include customer-modal-form