//
   Created by brian on 5/20/2015.
extends layout

block content
  link(rel='stylesheet', href='/stylesheets/simple-sidebar.css')
  include sidebar
  #page-content-wrapper
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand#menu-toggle(href='#menu-toggle')
            img#menu-toggle(src='images/glyphicons-menu-hamburger.png')
    .container-fluid(style='background-color:white; border-radius:3px;')
      .row
        form.navbar-form.navbar-left(role='search')
          button.btn.btn-success(data-toggle='modal', data-target='#customer-modal-form') Add New Customer
        form.navbar-form.navbar-right(role='search')
          .form-group
            input#customer-phone-search.form-control(name='customer-name-search', placeholder='(e.g. John Doe)', type='search')
          button.btn.btn-default(type='submit' style='margin-left:5px;margin-right:15px;') Search
        
        
        
    include customer-modal-form
    