//
   Created by brian on 5/20/2015.
extends layout

block content
  link(rel='stylesheet', href='/stylesheets/simple-sidebar.css')
  include sidebar
  #page-content-wrapper
    include togglebtn
    .container-fluid
       h1(style='margin:0;') Create Invoice
       hr
    .container-fluid