//
   Created by brian on 5/20/2015.
extends layout

block content
  link(rel='stylesheet', href='/stylesheets/simple-sidebar.css')
  include sidebar
  #page-content-wrapper
    include togglebtn
    .container-fluid
       .row
          .col-lg-12
            h1 Purchase Orders
             hr