#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
            a(href='/profile') Invoice Dashboard
        li
            a(href='/invoice') Sales Register
        li
            a(href='/inventory') Inventory
        li
            a(href='/deliveries') Deliveries
        li
            a(href='/orders') Orders
        li
            a(href='/logout') Logout
