body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #B2D1E5;
}

h1 {
    margin:0;
}

.container {
    margin-top:200px;
}

.login-logo {
    padding:10px;
    margin-bottom: 15px;
}

.login-logo, .login-footer {
  text-align: center;
}

.login-box, .register-box {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding:20px;
  opacity:0.75;
}

a {
  color: #00B7FF;
}

.login-box, .register-box {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(115,111,115,1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(115,111,115,1);
    box-shadow: 0px 0px 2px 1px rgba(115,111,115,1);
}

.centered{
    text-align: center;
}

@media (max-width: 768px) {
    #customer-search-btn {
        width:90%;
        margin-top: 5px;
        margin-left:0;
    }
    #customer-search {
        width:90%;
        margin:auto;
    }
}

@media (min-width: 750px) {
    #customer-search-btn {
        margin-left:5px;
    }
}

.customerlabel {
    font-weight:bold;
}

.container-fluid {
    background-color: white;
    border-radius: 3px;
}

#customerphone {
    margin-bottom:5px;
}

.panel-heading {
    font-weight:bold;
    text-align:center;
}

.modal {
    background-color:black;
}